In [91]:
#Ejercicios numpy y pandas
import numpy as np
import pandas as pd

users_file = pd.read_csv('users.csv')

In [92]:
# 1.- Obtener el nombre y correo de todos los usuarios.
users_file[['name', 'email']]

                       name                           email
0          Ms Fátima Martin       fatima.martin@example.com
1         Mrs Molly Garrett       molly.garrett@example.com
2         Ms Veena Kulkarni      veena.kulkarni@example.com
3          Miss Sheryl Cole         sheryl.cole@example.com
4         Ms Nataša Subašić      natasa.subasic@example.com
...                     ...                             ...
1995  Ms Viktoria Lauritsen  viktoria.lauritsen@example.com
1996   Mr Christian Sørhaug   christian.sorhaug@example.com
1997       Ms Maria Peković       maria.pekovic@example.com
1998      Mrs Nicole Jensen       nicole.jensen@example.com
1999  Mr Percy Blankenstein  percy.blankenstein@example.com

[2000 rows x 2 columns]

In [93]:
# 2.- Obtener el nombre de todos los usuarios cuyo sexo es Femenino.
users_file[users_file.gender == 'female']['name']

0            Ms Fátima Martin
1           Mrs Molly Garrett
2           Ms Veena Kulkarni
3            Miss Sheryl Cole
4           Ms Nataša Subašić
                ...
1992        Ms Floriana Ramos
1994             Ms Bella Lee
1995    Ms Viktoria Lauritsen
1997         Ms Maria Peković
1998        Mrs Nicole Jensen
Name: name, Length: 1013, dtype: object

In [94]:
# 3.- Obtener el nombre de todos los usuarios cuyo sexo es Masculino y tengan una edad mayor a 50
users_file[(users_file.gender == 'male') & (users_file.age > 50)]['name']

6                   Mr Oscar Olsen
10      Monsieur Francesco Leclerc
12                 Mr Sean Shelton
17                Mr Lennox Økland
19                   Mr Jose Wells
                   ...
1980               Mr Sierd Donker
1983          Mr Alfred Williamson
1987                Mr Blake Slawa
1991                 Mr Jake Moore
1993            Mr Zachary Stevens
Name: name, Length: 461, dtype: object

In [95]:
# 4.- Obtener todos los usuarios cuya edad sea mayor a 20.
users_file[users_file.age > 20]

,name,age,username,email,country,postcode,gender
0,Ms Fátima Martin,42,goldenmouse797,fatima.martin@example.com,Spain,43746,female
1,Mrs Molly Garrett,30,smallpanda982,molly.garrett@example.com,Ireland,57660,female
2,Ms Veena Kulkarni,53,smalltiger174,veena.kulkarni@example.com,India,29797,female
3,Miss Sheryl Cole,74,beautifulcat191,sheryl.cole@example.com,United Kingdom,TH3 7XG,female
4,Ms Nataša Subašić,55,bigbird256,natasa.subasic@example.com,Serbia,83260,female
...,...,...,...,...,...,...,...
1995,Ms Viktoria Lauritsen,38,heavyzebra441,viktoria.lauritsen@example.com,Norway,1545,female
1996,Mr Christian Sørhaug,28,goldensnake897,christian.sorhaug@example.com,Norway,3614,male
1997,Ms Maria Peković,45,redzebra951,maria.pekovic@example.com,Serbia,30159,female
1998,Mrs Nicole Jensen,78,beautifuldog292,nicole.jensen@example.com,United Kingdom,L9J 1QE,female
1999,Mr Percy Blankenstein,36,ticklishostrich632,percy.blankenstein@example.com,Netherlands,3143 RR,male

In [96]:
# 5.- Obtener el username y correo electrónico de los usuarios cuya edad se encuentre
# en el rango 50 a 60.

users_file[(users_file.age >= 50) & (users_file.age <= 60)][['username', 'email']]

                  username                         email
2            smalltiger174    veena.kulkarni@example.com
4               bigbird256    natasa.subasic@example.com
6        whitebutterfly600       oscar.olsen@example.com
11            lazyzebra356   abigail.morales@example.com
19            heavyswan589        jose.wells@example.com
...                    ...                           ...
1964         happypanda902    ivonne.noriega@example.com
1969       whitemeercat543      eemeli.heino@example.com
1972        goldentiger337  emilie.jorgensen@example.com
1987       whiteostrich177       blake.slawa@example.com
1990  beautifulelephant736     marius.moller@example.com

[387 rows x 2 columns]

In [97]:
# 6.- Obtener el username de todos los usuarios cuyo correo no terminen con @example.com
users_file[~users_file.email.str.endswith('@example.com')]['username']

Series([], Name: username, dtype: object)

In [98]:
# 7.- Obtener el username de todos los usuarios cuyo país sea Alemania, Finlandia o Canadá.
users_file[(users_file.country == 'Germany') | (users_file.country == 'Finland') | (users_file.country == 'Canada')]['username']

15           smalltiger986
18             whitecat263
29       brownbutterfly120
36      ticklishladybug412
40       organicleopard484
               ...
1969       whitemeercat543
1973        orangezebra429
1986        goldenkoala606
1987       whiteostrich177
1989          brownwolf223
Name: username, Length: 316, dtype: object

In [99]:
# 8.- Obtener el nombre y correo electronico de todos los usuarios de sexo Femenino que sean del país Alemania.
users_file[(users_file.gender == 'female') & (users_file.country == 'Germany')][['name', 'email']]

                            name                               email
79              Miss Sara Weyand             sara.weyand@example.com
105          Miss Marina Heumann          marina.heumann@example.com
245            Miss Bozena Thimm            bozena.thimm@example.com
260          Miss Clara Springer          clara.springer@example.com
270          Miss Elvira Eichner          elvira.eichner@example.com
278              Mrs Sevim Stehr             sevim.stehr@example.com
330           Ms Ilona Heinemann         ilona.heinemann@example.com
340                Ms Nina Höfer              nina.hofer@example.com
346          Mrs Cäcilie Uhlmann         cacilie.uhlmann@example.com
447           Ms Liesbeth Völker         liesbeth.volker@example.com
450               Mrs Ella Leder              ella.leder@example.com
477           Miss Stella Schenk           stella.schenk@example.com
487              Ms Alexa Backes            alexa.backes@example.com
555              Ms Beate Eifler            beate.eifler@example.com
676                Ms Kira Bartz              kira.bartz@example.com
695            Miss Ingrid Demir            ingrid.demir@example.com
750         Mrs Elizabeth Lemmer        elizabeth.lemmer@example.com
757   Miss Anne-Kathrin Haußmann  anne-kathrin.haussmann@example.com
764              Miss Flora Reil              flora.reil@example.com
767              Ms Alida Köster            alida.koster@example.com
784          Miss Valeri Stenger          valeri.stenger@example.com
870        Miss Viviane Steinert        viviane.steinert@example.com
925          Mrs Harriet Schmidl         harriet.schmidl@example.com
1020          Ms Gabriela Dreher         gabriela.dreher@example.com
1132             Ms Estelle Poth            estelle.poth@example.com
1151           Ms Janette Arslan          janette.arslan@example.com
1152         Mrs Annemarie Zwick         annemarie.zwick@example.com
1278         Ms Emilie Stegemann        emilie.stegemann@example.com
1386        Miss Emilie Schubert         emilie.schubert@example.com
1518           Miss Gerda Handke            gerda.handke@example.com
1534             Ms Elwira Heyne            elwira.heyne@example.com
1626               Ms Ute Saller              ute.saller@example.com
1631              Ms Mia Schrage             mia.schrage@example.com
1639       Miss Christina Hammes        christina.hammes@example.com
1678          Miss Ronja Frühauf           ronja.fruhauf@example.com
1685       Mrs Evangelia Dreßler      evangelia.dressler@example.com
1716        Miss Brunhilde Liebl         brunhilde.liebl@example.com
1734     Miss Malgorzata Püschel      malgorzata.puschel@example.com
1745            Ms Traude Völker           traude.volker@example.com
1758       Miss Annette Hallmann        annette.hallmann@example.com
1790            Ms Ildiko Kröner           ildiko.kroner@example.com
1863          Miss Adolfine Holl           adolfine.holl@example.com
1864          Mrs Annabell Stang          annabell.stang@example.com
1868               Mrs Anne Ertl               anne.ertl@example.com
1896          Mrs Camilla Yilmaz          camilla.yilmaz@example.com
1904             Ms Anne Steffan            anne.steffan@example.com
1952           Mrs Dorota Stuber           dorota.stuber@example.com
1989          Miss Sylvana Stoll           sylvana.stoll@example.com

In [100]:
# 9.- Obtener el promedio de edad de todos los usuarios de sexo Femenido de Canada mayores de 20 años.
users_file[(users_file.gender == 'female') & (users_file.country == 'Canada') & (users_file.age > 20)]['age'].mean()

53.89090909090909

In [101]:
# 10.- Conocer la cantidad de usuarios que residen en Finlandia.
users_file[users_file.country == 'Finland']['name'].count()

103

In [102]:
# 11.- Mostrar en consola la cantidad de hombre y mujeres en el dataframe.
users_file.groupby('gender')['gender'].count()

gender
female    1013
male       987
Name: gender, dtype: int64

In [103]:
# 12.- Mostrar en consola el país con más mujeres.
users_file[users_file.gender == 'female'].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
France    61
Name: country, dtype: int64

In [104]:
# 13.- Obtener los 3 países con más usuarios.
users_file.groupby('country')['country'].count().sort_values(ascending=False).head(3)

country
Australia    112
Germany      108
Spain        106
Name: country, dtype: int64

In [105]:
# 14.- Mostrar en consola el nombre de todos los usuarios cuya edad se encuentre en el
# rango de 10 a 20 y 40 a 70.
users_file[(users_file.age.between(10, 20)) | (users_file.age.between(40, 70))]['name']

0         Ms Fátima Martin
2        Ms Veena Kulkarni
4        Ms Nataša Subašić
6           Mr Oscar Olsen
7          Ms Marta Selvik
               ...
1989    Miss Sylvana Stoll
1990      Mr Marius Møller
1991         Mr Jake Moore
1993    Mr Zachary Stevens
1997      Ms Maria Peković
Name: name, Length: 1119, dtype: object

In [106]:
# 15.- Mostrar en consola todos los usuarios con correo electrónico.
users_file[users_file.email.notna()]

,name,age,username,email,country,postcode,gender
0,Ms Fátima Martin,42,goldenmouse797,fatima.martin@example.com,Spain,43746,female
1,Mrs Molly Garrett,30,smallpanda982,molly.garrett@example.com,Ireland,57660,female
2,Ms Veena Kulkarni,53,smalltiger174,veena.kulkarni@example.com,India,29797,female
3,Miss Sheryl Cole,74,beautifulcat191,sheryl.cole@example.com,United Kingdom,TH3 7XG,female
4,Ms Nataša Subašić,55,bigbird256,natasa.subasic@example.com,Serbia,83260,female
...,...,...,...,...,...,...,...
1995,Ms Viktoria Lauritsen,38,heavyzebra441,viktoria.lauritsen@example.com,Norway,1545,female
1996,Mr Christian Sørhaug,28,goldensnake897,christian.sorhaug@example.com,Norway,3614,male
1997,Ms Maria Peković,45,redzebra951,maria.pekovic@example.com,Serbia,30159,female
1998,Mrs Nicole Jensen,78,beautifuldog292,nicole.jensen@example.com,United Kingdom,L9J 1QE,female
1999,Mr Percy Blankenstein,36,ticklishostrich632,percy.blankenstein@example.com,Netherlands,3143 RR,male

In [107]:
# 16.- Mostrar en pantalla el nombre y correo electrónico del usuario más joven en Canadá.
users_file[users_file.country == 'Canada'].sort_values('age').head(1)[['name', 'email']]

                 name                      email
262  Mr Dylan Ouellet  dylan.ouellet@example.com

In [108]:
# 17.- Mostrar en pantalla el nombre y correo electrónico del usuario más viejo en Canada.
users_file[users_file.country == 'Canada'].sort_values('age').tail(1)[['name', 'email']]

                   name                       email
1922  Ms Marianne Ennis  marianne.ennis@example.com

In [109]:
# 18.- Listar en consola los 3 países con menor cantidad de usuarios
users_file.groupby('country')['country'].count().sort_values().head(3)

country
Iran      70
Mexico    83
Serbia    86
Name: country, dtype: int64

In [110]:
# 19.- Obtener el país con mayor cantidad de usuarios cuya edad sea mayor a 50.
users_file[users_file.age > 50].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
India    54
Name: country, dtype: int64

In [111]:
# 20.- Obtener el país con mayor promedio de edad.
users_file.groupby('country')['age'].mean().sort_values(ascending=False).head(1)

country
India    52.540816
Name: age, dtype: float64

In [112]:
# 21.- Mostrar en consola el país con más hombres.
users_file[users_file.gender == 'male'].groupby('country')['country'].count().sort_values(ascending=False).head(1)

country
Australia    60
Name: country, dtype: int64

In [113]:
# 22.- Mostrar en consola el nombre, username y edad de todos los usuarios cuya edad 
# es mayor a 10 y no sean del país México, Brasil y Canadá.
users_file[(users_file.age > 10) & (~users_file.country.isin(['Mexico', 'Brazil', 'Canada']))][['name', 'username', 'age']]

                       name            username  age
0          Ms Fátima Martin      goldenmouse797   42
1         Mrs Molly Garrett       smallpanda982   30
2         Ms Veena Kulkarni       smalltiger174   53
3          Miss Sheryl Cole     beautifulcat191   74
4         Ms Nataša Subašić          bigbird256   55
...                     ...                 ...  ...
1995  Ms Viktoria Lauritsen       heavyzebra441   38
1996   Mr Christian Sørhaug      goldensnake897   28
1997       Ms Maria Peković         redzebra951   45
1998      Mrs Nicole Jensen     beautifuldog292   78
1999  Mr Percy Blankenstein  ticklishostrich632   36

[1719 rows x 3 columns]

In [114]:
# 23.- Mostrar en consola el código postal de todos los usuarios de México.
users_file[users_file.country == 'Mexico'].postcode

9       43691
49      16073
52      52761
90      16543
91      78696
        ...
1813    96954
1822    61953
1836    35219
1912    56421
1964    58319
Name: postcode, Length: 83, dtype: object

In [115]:
# 24.- Obtener la edad que más se repite en el DataFrame.
users_file.age.mode()

0    44
Name: age, dtype: int64

In [116]:
# 25.- Obtener la edad que menos se repite en el DataFrame.
users_file.age.value_counts().sort_values().head(1)

78    14
Name: age, dtype: int64